{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_field %}


{% block content %}

<div class="container mt-4">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link {% if values['input_view'] == 'address'%}active{% endif %}" id="nav-direccion-tab" data-bs-toggle="tab" data-bs-target="#nav-direccion" type="button" role="tab" aria-controls="nav-direccion" aria-selected="{% if values['input_view'] == 'address'%}true{% else %}false{% endif %}">Dirección en el Mapa</button>
        <button class="nav-link {% if values['input_view'] == 'latlon'%}active{% endif %}" id="nav-latlon-tab" data-bs-toggle="tab" data-bs-target="#nav-latlon" type="button" role="tab" aria-controls="nav-latlon" aria-selected="{% if values['input_view'] == 'latlon'%}true{% else %}false{% endif %}">Coordenadas Geográficas</button>
        <button class="nav-link {% if values['input_view'] == 'utm'%}active{% endif %}" id="nav-utm-tab" data-bs-toggle="tab" data-bs-target="#nav-utm" type="button" role="tab" aria-controls="nav-utm" aria-selected="{% if values['input_view'] == 'utm'%}true{% else %}false{% endif %}">Coordenadas UTM</button>
      </div>
    </nav>

    <div class="tab-content" id="nav-address">
      <div class="tab-pane fade {% if values['input_view'] == 'address'%}show active{% endif %}" id="nav-direccion" role="tabpanel" aria-labelledby="nav-direccion-tab">

        <form name="address" method="post">

            <div class="mt-3">
                {{ forms['address'].csrf_token() }}
                {{ render_field(forms['address'].address) }}
            </div>

            <div class="row">
                <div class="col-6 mt-3">
                    {{ render_field(forms['address'].soil) }}
                </div>

                <div class="col-6 mt-3">
                    {{ render_field(forms['address'].use) }}
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-3">
                <button class="btn btn-primary" type="submit">Aceptar</button>
            </div>

        </form>

      </div>

      <div class="tab-pane fade {% if values['input_view'] == 'latlon'%}show active{% endif %}" id="nav-latlon" role="tabpanel" aria-labelledby="nav-latlon-tab">

        <form name="latlon" method="post">

            <div class="row">

                <div class="col-6 mt-3">
                    {{ forms['latlon'].csrf_token() }}
                    {{ render_field(forms['latlon'].latitude) }}
                </div>

                <div class="col-6 mt-3">
                    {{ render_field(forms['latlon'].longitude) }}
                </div>

            </div>

            <div class="row">
                <div class="col-6 mt-3">
                    {{ render_field(forms['address'].soil) }}
                </div>

                <div class="col-6 mt-3">
                    {{ render_field(forms['address'].use) }}
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-3">
                <button class="btn btn-primary" type="submit">Aceptar</button>
            </div>

        </form>

      </div>
      <div class="tab-pane fade {% if values['input_view'] == 'utm'%}show active{% endif %}" id="nav-utm" role="tabpanel" aria-labelledby="nav-utm-tab">

        <form name="utm" method="post">

            <div class="row">

                <div class="col-4 mt-3">
                    {{ forms['utm'].csrf_token() }}
                    {{ render_field(forms['utm'].east) }}
                </div>

                <div class="col-4 mt-3">
                    {{ render_field(forms['utm'].north) }}
                </div>

                <div class="col-4 mt-3">
                    {{ render_field(forms['utm'].zone) }}
                </div>

            </div>

            <div class="row">
                <div class="col-6 mt-3">
                    {{ render_field(forms['address'].soil) }}
                </div>

                <div class="col-6 mt-3">
                    {{ render_field(forms['address'].use) }}
                </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-3">
                <button class="btn btn-primary" type="submit">Aceptar</button>
            </div>

        </form>

      </div>
    </div>

    <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBljNPdIwJuFiq3f7wXSjZmL2Sn2z66cTs&q={{values['geo_coord']}}">
    </iframe>

    {% if values['inperu'] %}
    <div class="alert alert-success" role="alert">
    {% else %}
    <div class="alert alert-danger" role="alert">
        <h1 class="display-6">La ubicación no se encuentra en Perú</h1>
    {% endif %}

        <dl class="row">
          <dt class="col-sm-3">Dirección</dt>
          <dd class="col-sm-9">{{values['address']}}</dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-3">Coordenadas Geográficas</dt>
          <dd class="col-sm-9">
              <strong>Latitud:</strong> {{values['geo_coord'][0]}} <strong>Longitud:</strong> {{values['geo_coord'][1]}}
          </dd>
        </dl>

        <dl class="row">
          <dt class="col-sm-3">Coordenas UTM</dt>
          <dd class="col-sm-9">
              <strong>Este:</strong> {{values['utm_coord'][0]}} <strong>Norte:</strong> {{values['utm_coord'][1]}} <strong>Zona:</strong> {{values['utm_coord'][2]}}{{values['utm_coord'][3]}}
          </dd>
        </dl>

    </div>

    {% if values['inperu'] %}

    <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <div class="col-12 col-lg-11">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Parametro</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Zona</th>
                      <td>{{values['Z'][0]}}</td>
                      <td>Zona Sísmica</td>
                    </tr>
                    <tr>
                      <th scope="row">Z</th>
                      <td>{{values['Z'][1]}}</td>
                      <td>Factor de Zona</td>
                    </tr>
                    <tr>
                      <th scope="row">Categoria Edificación</th>
                      <td>{{values['U'][0]}}</td>
                      <td>{{values['U'][1]}}</td>
                    </tr>
                    <tr>
                      <th scope="row">U</th>
                      <td>{{values['U'][2]}}</td>
                      <td>Factor de uso o importancia.</td>
                    </tr>
                    <tr>
                      <th scope="row">Perfil de Suelo</th>
                      <td>{{values['Stype'][0]}}</td>
                      <td>{{values['Stype'][1]}}</td>
                    </tr>
                    <tr>
                      <th scope="row">S</th>
                      <td>{{values['S']}}</td>
                      <td>Factor de amplificación del suelo</td>
                    </tr>
                    <tr>
                      <th scope="row">Tp [s]</th>
                      <td>{{values['Tp']}}</td>
                      <td>Período que define la plataforma del factor C</td>
                    </tr>
                    <tr>
                      <th scope="row">Tl [s]</th>
                      <td>{{values['Tl']}}</td>
                      <td>Período que define el inicio de la zona del factor C con desplazamiento constante.</td>
                    </tr>
                    <tr>
                      <th scope="row">T [s]</th>
                      <td></td>
                      <td>Período fundamental de la estructura para el análisis estático o período de un modo en el análisis dinámico.</td>
                    </tr>
                    <tr>
                      <th scope="row">C</th>
                      <td></td>
                      <td>Factor de amplificación sísmica.</td>
                    </tr>
                    <tr>
                      <th scope="row">Sa [cm/s]</th>
                      <td></td>
                      <td> Espectro de pseudo aceleraciones.</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-lg-6 ">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="{{values['image']}}">
            </div>
                <div class="row justify-content-center">
                    <div class="col-6 col-lg-5">
                        <table class="table text-center align-middle table-sm table-bordered border-dark">
                          <thead>
                            <tr>
                              <th scope="col">T [s]</th>
                              <th scope="col">C</th>
                              <th scope="col">Sa [cm/s]</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in range(16) %}
                            <tr>
                              <th scope="row">{{'%.2f'%values['T'][i]}}</th>
                              <td>{{'%.2f'%values['C'][i]}}</td>
                              <td>{{'%.2f'%values['Sa'][i]}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                    <div class="col-6 col-lg-5">
                        <table class="table text-center align-middle table-sm table-bordered border-dark">
                          <thead>
                            <tr>
                              <th scope="col">T [s]</th>
                              <th scope="col">C</th>
                              <th scope="col">Sa [cm/s]</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in range(16) %}
                            <tr>
                              <th scope="row">{{'%.2f'%values['T'][i+16]}}</th>
                              <td>{{'%.2f'%values['C'][i+16]}}</td>
                              <td>{{'%.2f'%values['Sa'][i+16]}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
        </div>

    </div>

    {% endif %}

</div>


{% endblock %}